main {
    width: 70%;
    margin: 70px auto;
}

article {
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

article h2 {
    color: #18181b;
    font-size: 60px;
    margin: 20px 0;
}

article p {
    font-size: 32px;
    margin-top: 0;
}

article img {
    margin: 0 0 0 100px;
    border-radius: 20px;
    box-shadow: 8px 8px 12px #18181b;
}
