main {
    width: 70%;
    margin: 0 auto;
}

article {
    margin: 200px auto;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

article section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

article a {
    font-weight: 600;
    font-size: 40px;
    margin: 0 auto;
}

article h2 {
    color: #18181b;
    font-size: 60px;
    margin: 20px 0 50px 0;
}

article p {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 50px;
}

article.no-limits img {
    width: 500px;
    margin: 0 0 0 100px;
    border-radius: 20px;
    box-shadow: 4px 8px 12px #921ebb;
}

article.returns {
    margin: 350px auto;
}

article.returns section {
    align-items: flex-end;
}

article.returns p {
    text-align: right;
}

article.returns img {
    margin: 0 100px 0 0;
    width: 500px;
    filter: drop-shadow(4px 8px 12px #921ebb);
}

@media screen and (max-width: 1400px) {
    article {
        flex-direction: column;
        align-items: center;
    }

    article section {
        align-items: center;
        text-align: center;
    }

    article.no-limits img {
        margin: 40px 0;
        max-width: min(100%, 400px);
    }

    article.returns {
        flex-direction: column-reverse;
        margin: 100px auto;
    }

    article.returns section {
        align-items: center;
    }

    article.returns p {
        text-align: center;
    }

    article.returns img {
        margin: 40px 0;
        max-width: min(100%, 400px);
    }
}
